version: "3.4"
services:
  archipel.public.dappnode.eth:
    build: ./build
    image: "archipel.public.dappnode.eth:2.1.2"
    volumes:
      - "data:/root/chain/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "service:/service"
      - "config:/config"
    ports:
      - "51820:51820/udp"
      - "3001:3001"
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - CONFIG_FILE=true
      - CONFIG_FILE_PASSWORD=
      - NODE_ID=
      - NODE_ROLE=
      - NODE_GROUP=
      - NODE_GROUP_ID=
      - WIREGUARD_PRIVATE_KEY=
      - WIREGUARD_ADDRESS=
      - WIREGUARD_LISTEN_PORT=
      - WIREGUARD_PEERS_PUB_ADDR=
      - WIREGUARD_PEERS_ALLOWED_IP=
      - WIREGUARD_PEERS_EXTERNAL_ADDR=
      - ARCHIPEL_NODE_ALIAS=
      - ARCHIPEL_LISTEN_PORT=
      - ARCHIPEL_KEY_SEED=
      - ARCHIPEL_NODE_KEY_FILE=
      - ARCHIPEL_RESERVED_PEERS=
      - ARCHIPEL_AUTHORITIES_SR25519_LIST=
      - ARCHIPEL_AUTHORITIES_ED25519_LIST=
      - ARCHIPEL_TELEMETRY_URL=
      - ARCHIPEL_TELEMETRY_LOGLEVEL=0
      - ARCHIPEL_SERVICE_MODE=orchestrator
      - ARCHIPEL_HEARTBEATS_ENABLE=true
      - ARCHIPEL_ORCHESTRATION_ENABLE=true
      - SMS_STONITH_ACTIVE=false
      - SMS_STONITH_CALLBACK_MANDATORY=false
      - SMS_STONITH_CALLBACK_MAX_DELAY=120
      - NEXMO_API_KEY=
      - NEXMO_API_SECRET=
      - NEXMO_API_SIGNATURE_METHOD=
      - NEXMO_API_SIGNATURE_SECRET=
      - NEXMO_API_CHECK_MSG_SIGNATURE=
      - NEXMO_PHONE_NUMBER=
      - OUTLET_PHONE_NUMBER_LIST=
      - SERVICES=polkadot
      - POLKADOT_NAME=polkadot-node-NUMBER_HERE
      - "POLKADOT_IMAGE=parity/polkadot:latest"
      - POLKADOT_PREFIX=polkadot-data-
      - POLKADOT_VALIDATOR_NAME=archipel-validator-NUMBER_HERE
      - POLKADOT_KEY_GRAN=
      - POLKADOT_KEY_BABE=
      - POLKADOT_KEY_IMON=
      - POLKADOT_KEY_PARA=
      - POLKADOT_KEY_AUDI=
      - POLKADOT_NODE_KEY_FILE=
      - POLKADOT_RESERVED_NODES=
      - POLKADOT_TELEMETRY_URL=
      - POLKADOT_SIMULATE_SYNCH=false
      - POLKADOT_ADDITIONAL_OPTIONS=
      - POLKADOT_SESSION_KEY_TO_CHECK=
      - POLKADOT_BACKUP_URL=
      - DEBUG=
    restart: always
volumes:
  data: {}
  service: {}
  config: {}
